/* GENERAL */
body {
    font-family: 'Space Grotesk', sans-serif;
    
}

.app {
    height: 100vh;
    width: auto;
}

/* BANNER */
.banner {
    background: linear-gradient(140deg, hsl(278, 68%, 11%) 20%, hsl(278, 94%, 30%), hsl(278, 68%, 11%) 80%);
    height: 25%;
}

/* CARDS */
.card {
    position: absolute;
    height: 6.5em;
    width: 12em;
    background-color: aqua;
    margin-bottom: 1em;
    border-radius: 6px;
    color: white;
}

/* BACK CARD */
.card-back {
    top: 2em;
    right: 3em;
    background-color: hsl(270, 3%, 87%);
}

.back-banner {
    height: 1.5em;
    background-color: rgb(53, 53, 53);
    margin-top: .8em;
}

.back-cvc {
    height: 1.4em;
    width: 75%;
    border-radius: 2px;
    background-color: rgba(153, 149, 149, 0.65);
    margin: 1em auto 0;
    font-size: .7em;
    padding: .3em;
    text-align: end;
}

/* FRONT CARD */
.card-front {
    top: 5.5em;
    left: 3em;
    padding: .8em;
    background: linear-gradient(140deg, hsl(249, 99%, 64%) 70%, hsl(278, 68%, 11%));
    z-index: 1;
    box-shadow: .2em 1.8em 2em -.5em rgba(181, 197, 250, 0.575);
}

.front-circles  {
    display: flex;
    gap: .4em;
    align-items: center;
    margin-bottom: 1em;
}

.circle-xl {
    background-color: white;
    border-radius: 50%;
    height: 1.2em;
    width: 1.2em;
}

.circle-xs {
    border: 1px solid white;
    border-radius: 50%;
    height: .6em;
    width: .6em;
}

.front-number {
    font-size: smaller;
    margin-bottom: .5em;
}

.front-name {
    font-size: x-small;
    text-transform: uppercase;
    display: inline;
}

.front-date {
    font-size: x-small;
    display: inline;
    position: relative;
    left: 5em;
}

/* FORM */
form {
    height: 75%;
    padding: 1em;
    text-transform: uppercase;
    letter-spacing: .08em;
    color: hsl(278, 68%, 11%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

form > label {
    display: flex;
    flex-direction: column;
}



form .date {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr);
    background-color: aqua;
}

form .exp-date p {
    grid-area: 1 / 1 / 2 / 3;
}

form .exp-date .month {
    grid-area: 2 / 1 / 3 / 2;
}

form .exp-date .year {
    grid-area: 2 / 2 / 3 / 3;
}

form .cvc p {
    grid-area: 1 / 3 / 2 / 4;
}

form .cvc input {
    grid-area: 2 / 3 / 3 / 4;
}



form input {
    margin-top: .7em;
    border: 1px solid hsl(270, 3%, 87%);
    border-radius: 4px;
    padding: .5em;
    width: 90%;
}