/* GENERAL */
body {
    font-family: 'Space Grotesk', sans-serif;
}

.app {
    height: 100vh;
    width: 100vw;
}

/* BANNER */
.banner {
    background: linear-gradient(140deg, hsl(278, 68%, 11%) 20%, hsl(278, 94%, 30%), hsl(278, 68%, 11%) 80%);
    height: 30%;
}

@media (min-width: 992px) {
  .banner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
  }
}

/* CARDS */
.card {
    position: absolute;
    height: 8em;
    width: 14em;
    margin-bottom: 1em;
    border-radius: 6px;
    color: white;
}

/* BACK CARD */
.card-back {
    top: 2em;
    right: 2em;
    background-color: hsl(270, 3%, 87%);
}

.back-banner {
    height: 1.5em;
    background-color: rgb(53, 53, 53);
    margin-top: 1.2em;
}

.back-cvc {
    height: 2em;
    width: 75%;
    border-radius: 2px;
    background-color: rgba(153, 149, 149, 0.65);
    margin: 1.4em auto 0;
    font-size: .7em;
    padding: .6em;
    text-align: end;
}

/* FRONT CARD */
.card-front {
    top: 6.5em;
    left: 2em;
    padding: .8em;
    background: linear-gradient(140deg, hsl(249, 99%, 64%) 70%, hsl(278, 68%, 11%));
    z-index: 1;
    box-shadow: .2em 1.8em 2em -.5em rgba(181, 197, 250, 0.575);
}

.front-circles  {
    display: flex;
    gap: .4em;
    align-items: center;
    margin-bottom: 2em;
}

.circle-xl {
    background-color: white;
    border-radius: 50%;
    height: 1.2em;
    width: 1.2em;
}

.circle-xs {
    border: 1px solid white;
    border-radius: 50%;
    height: .6em;
    width: .6em;
}

.front-number {
    font-size: smaller;
    margin-bottom: .5em;
}

.front-name {
    font-size: x-small;
    text-transform: uppercase;
    display: inline;
}

.front-date {
    font-size: x-small;
    display: inline;
    position: relative;
    left: 5em;
}

/* CARDS : DESKTOP/TABLET @SCREENS */
@media (min-width: 992px) {
  .card-back {
    top: 50%;
    left: 15em;
  }

  .card-front {
    top: 25%;
    left: 11em;
  }
}

/* FORM */
form {
    height: 70%;
    padding: 2em;
    text-transform: uppercase;
    letter-spacing: .08em;
    color: hsl(278, 68%, 11%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5em;
}

@media (min-width: 992px) {
  form {
    height: 100%;
    width: 65%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10em;
  }
}

form .name label {
    display: flex;
    flex-direction: column;
}

form .number label {
  display: flex;
  flex-direction: column;
}

form .date {
    display: grid;
    max-width: 95%;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(0,1fr) minmax(0,1fr) minmax(0,1fr); 
}

form .exp-date {
    grid-area: 1 / 1 / 2 / 3;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: minmax(0,1fr) minmax(0,1fr); 
}

form .cvc {
    grid-area: 1 / 3 / 2 / 4;
}

form .exp-date p {
    grid-area: 1 / 1 / 2 / 3;
}

form .exp-date .month {
    grid-area: 2 / 1 / 3 / 2;
    width: 75%;
}

form .exp-date .year {
    grid-area: 2 / 2 / 3 / 3;
    width: 75%;
}

form input {
    margin-top: .7em;
    border: 1px solid hsl(270, 3%, 87%);
    border-radius: 4px;
    padding: .5em;
    max-width: 100%;
}

form button {
    background-color: hsl(278, 68%, 11%);
    color: white;
    border-radius: 8px;
    padding: .8em;
    letter-spacing: .05em;
}
