@use 'src/styles/vars';

.card {
  position: absolute;
  height: 8em;
  width: 14em;
  margin-bottom: 1em;
  border-radius: 6px;
  color: white;
}

.card-back {
  top: 2em;
  right: 2em;
  background-color: vars.$backcolor-ultralight;

  @media (min-width: 992px) {
    top: 50%;
    left: 15em;
  }
}

.back-banner {
  height: 1.5em;
  background-color: rgb(53, 53, 53);
  margin-top: 1.2em;
}

.back-cvc {
  height: 2em;
  width: 75%;
  border-radius: 2px;
  background-color: rgba(153, 149, 149, 0.65);
  margin: 1.4em auto 0;
  font-size: .7em;
  padding: .6em;
  text-align: end;
}
